<div class="flex justify-center ...">
  <div>01</div>
  <div>02</div>
  <div>03</div>
</div>

<div class="flex justify-items-center">
<div class="container mx-auto px-4">

  <form [formGroup]="form" (submit)="onSubmit()">
    <h2>Add Medicine</h2>
    <div formArrayName="medicineArr">
      <div *ngFor="let contact of medicineFormGroup.controls; let i = index;">
        <div [formGroupName]="i" class="mt-4">
          <div class="form-group">
            <ng-select [items]="medicineOptions" bindLabel="name" bindValue="id" formControlName="medicine"
              placeholder="Select medicine">
            </ng-select>
          </div>

          <div class="form-group mt-2">
            <input type="number" formControlName="amount" class="form-control">
          </div>

          <div class="form-group mt-2">
            <ng-select [items]="medicineOptions" bindLabel="name" bindValue="id" formControlName="medicine"
            placeholder="Select medicine">
          </ng-select>
          </div>

          <div class="form-group mt-2">
            <ng-select [items]="medicineOptions" bindLabel="name" bindValue="id" formControlName="medicine"
            placeholder="Select medicine">
          </ng-select>
          </div>

        </div>
      </div>
    </div>
    <div class="mt-2">
    <button type="button" class="btn btn-primary mx-1" (click)="addFormGroup()">Add More</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
  </form>
</div>
</div>
